.App {
  display: flex;
  flex-direction: column;
  left: 0;
}

h1 {
  background-color: #515050;
  color: rgb(228, 228, 228);
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.button-block {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .button-block {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .button-block > div:last-of-type {
    position: absolute;
    right: 0;
  }
}
